.white-space-0 {
    white-space: nowrap;
}

a:hover {
    text-decoration: none !important;
}

.bg-gray {
    background-color: rgba(0,0,0,.05) !important;
}

.activePage {
    background-color: #17a2b8 !important;
    color: #fff;
}

.activePage:hover {
    color: #fff !important;
}

input:focus {
    box-shadow: none !important;
}

select:focus {
    box-shadow: none !important;
}

.scroll {
    overflow-y: scroll;
    max-height: 100px;
}

.scroll::-webkit-scrollbar {
    width: 0.3em;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.searchDiv {
    min-width: 10rem !important;
}

.searchResults:hover {
    background-color: #17a2b8;
    color: #fff !important;
    cursor: pointer;
}

.input-border {
    border: 1px solid #ced4da
}

.activeTag {
    background-color: #17a2b8;
    color: #fff !important;
    cursor: pointer;
}
